.button-1 {
    background-color: "#613D2B";
    font-size: 14;
    font-weight: 700;
    color: "white";
}

.button-2 {
    border-color: "#613D2B";
    color: "#613D2B";
    font-size: 14;
    font-weight: 700;
}